body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* Hide default scrollbar */
::-webkit-scrollbar {
width: 12px; /* Width of the scrollbar */
padding: 2px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; /* Color of the track */
border-radius: 10px; 
padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; /* Color of the thumb */
border-radius: 10px; 
width: 12px;
padding: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #6e5ae3; /* Color of the thumb on hover */

}